@header-margin: @vertical-gutter-height * 2;

@header-heading-font-size: 24px;
@header-heading-margin: @vertical-gutter-height / 2;

@header-subheading-font-size: 18px;
@header-subheading-color: @blue-darker;
