@line-height-base: 1.4;

@font-size-base: 15px;
@font-size-xsmall: 12px;
@font-size-small: 13px;
@font-size-large: 17px;

// Open Sans cap height
@cap-height: 0.7727272727;

// Todo : Better name for font family
@font-family-common: "proxima nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-accent: "effra", sans-serif;
@font-family-monospace: Inconsolata, Menlo, Monaco, Consolas, "Courier New", monospace;
