@table-header-font-size: @table-cell-font-size;
@table-header-font-weight: 400;
@table-header-height: @grid-gutter-width-large;
@table-header-padding: 19px;
@table-header-background-color: @gray-lighter;

@table-cell-font-size: 13px;
@table-cell-padding: 19px;
@table-cell-compact-padding: 5px;

@table-margin-bottom: @vertical-gutter-height;
@table-disabled-opacity: 0.35;

@table-border: @border-base;
@table-border-radius: @border-radius-base;
