@import "../input/config";

@toggle-on-color: @green;
@toggle-off-color: @gray;

@toggle-height: 28px;
@toggle-width: 50px;

@toggle-switch-gap: 3px;

@toggle-label-font-family: @font-family-sans-serif;
@toggle-label-font-size: 18px;
@toggle-heading-label-font-size: 20px;

@toggle-status-font-size: 18px;
@toggle-status-margin: 10px;

@toggle-transition-duration: 0.2s;
// TODO: Deprecate
@toggle-heading-image-height: 34px;
