// Colors
// TODO: Shades of colors are currently in flux. Some are hardcoded, some are
// relative.

// Levels of lighter/darker
@color-grade-1: 5%;
@color-grade-2: 10%;
@color-grade-3: 14%;

// Colors
@white: #FFF;
@mustard: #DCB600;
@orange: #F47928;

@green-lightest: lighten(@green, @color-grade-3);
@green-lighter: lighten(@green, @color-grade-2);
@green-light: lighten(@green, @color-grade-1);
@green: #24B352;
@green-dark: darken(@green, @color-grade-1);
@green-darker: darken(@green, @color-grade-2);
@green-darkest: darken(@green, @color-grade-3);

@blue-lightest: lighten(@blue, @color-grade-3);
@blue-lighter: lighten(@blue, @color-grade-2);
@blue-light: lighten(@blue, @color-grade-1);
@blue: #3B9BD6;
@blue-dark: #747B84;
@blue-darker: #414E5F;
@blue-darkest: #29323B;

@gray-lighter: #F7F7F7;
@gray-light: #D9DCDF;
@gray: #AAA;
// DEPRECATED
@gray-dark: @blue-darker;
@gray-darker: @blue-darker;

// Semantic colors
@error-color: @orange;
@warning-color: @mustard;
@success-color: @green;
@info-color: @blue;
