/**
 * Text:
 * Utility classes for text color in different situations.
 *
 *     @example
 *     .Box.text-success Success!
 *     .Box.text-warning Warning
 *     .Box.text-danger Danger!!!
 *     .Box.text-muted Muted
 */

@import "./config";

html {
  color: @text-color;
}

.text-success {
  color: @text-success-color;
}

.text-danger {
  color: @text-danger-color;
}

.text-warning {
  color: @text-warning-color;
}

.text-muted {
  color: @text-muted-color;
}
