// Markup
// <a href="#" class="Button Button--default">Button</a>

@import "./config";

.Button {
  display: inline-block;
  font-weight: @button-font-weight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
   // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  background-image: none;
  white-space: nowrap;
  appearance: none;
  font-size: @button-font-size;
  .button-vertical-padding(@button-height, @button-font-size);
  padding: @button-vertical-padding @button-horizontal-padding;
  line-height: 1;
  border: 0;
  border-radius: @button-rounded-border-radius;
  .button-animation(@button-transition-timing);

  &:hover {
    .button-animation(@button-transition-timing);
    text-decoration: none;
  }

  &:active {
    box-shadow: none;
  }

  &:active,
  &:focus {
    .button-animation(@button-transition-fast-timing);
  }

  &:active,
  &:focus,
  &:active:focus {
    outline: none;
    text-decoration: none;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.Button--sharp {
  border-radius: @button-sharp-border-radius;
}

.Button--full {
  width: 100%;
  margin-bottom: @vertical-gutter-height;
}

.Button--small {
  font-size: @button-small-font-size;
  .button-vertical-padding(@button-height, @button-small-font-size);
  padding: @button-vertical-padding (@button-horizontal-padding / 1.5);
}

.Button--large {
  font-size: @button-large-font-size;
  .button-vertical-padding(@button-height, @button-large-font-size);
  padding: @button-vertical-padding (@button-horizontal-padding / 1.5);
}

.Button--primary {
  background-color: @button-primary-background-color;
  color: @white;

  &:hover {
    color: @white;
    background-color: @green-lighter;
  }

  &:active,
  &:focus {
    color: @white;
    background-color: @green-darker;
  }
}

.Button--action {
  background-color: @button-action-background-color;
  color: @white;

  &:hover {
    color: @white;
    background-color: @blue-lighter;
  }

  &:active,
  &:focus {
    color: @white;
    background-color: @blue-darker;
  }
}

.Button--default {
  color: @button-default-background-color;
  background-color: @white;
  border: 1px solid @gray-lighter;

  &:hover {
    color: @blue;
    background-color: @gray-lightest;
  }

  &:active,
  &:focus {
    color: @blue;
    background-color: darken(@gray-lightest, 2%);
  }
}

.Button-price {
  font-weight: 400;
}

.Button--transparent {
  background: none;
  border: 1px solid @white;
}

.Button--none {
  .Button--transparent;
  border: 0;
}
